{% extends 'base.html' %}
{% block content %}
<h2>{{ 'Editar producto' if product else 'Nuevo producto' }}</h2>
<form method="post" class="card card-body shadow">
    <label class="form-label">Código</label>
    <input class="form-control mb-2" name="code" value="{{ product.code if product else '' }}" required>

    <label class="form-label">Nombre</label>
    <input class="form-control mb-2" name="name" value="{{ product.name if product else '' }}" required>

    <label class="form-label">Precio</label>
    <input class="form-control mb-2" type="number" step="0.01" min="0" name="price"
           value="{{ product.price if product else '' }}" required>

    <label class="form-label">Stock</label>
    <input class="form-control mb-2" type="number" min="0" name="stock"
           value="{{ product.stock if product else '' }}" required>

    <label class="form-label">Laboratorio</label>
    <input class="form-control mb-3" name="laboratory" value="{{ product.laboratory if product else '' }}" required>

    <div class="d-flex gap-2">
        <button class="btn btn-success">Guardar</button>
        <a class="btn btn-outline-secondary" href="{{ url_for('products') }}">Cancelar</a>
    </div>
</form>
{% endblock %}
